.content {
    position: relative;
    width: calc(100vw - 20vw);
    height: auto;
    padding: 10vh 10vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.content h1 {
    font-size: 40px;
    margin-top: 50px;
}

.tiles {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    position: relative;
    min-width: 250px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
    background-color: #fff;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    transition: 0.2s;
}

.img {
    margin: 25px;
}

.back {
    position: absolute;
    left: calc(10vw + 25px);
    top: 10vw;
    width: auto;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.2s;

}


.tile:hover {
    box-shadow: 0px 0px 0px 3px #f6227d, 0px 6px 7px -2px rgba(0, 0, 0, 0.15);
}

.back:hover {
    box-shadow: 0px 0px 0px 2px #f6227d, 0px 6px 7px -2px rgba(0, 0, 0, 0.15);
}

.tile:hover:focus, .back:hover:focus {
    transform: scale(1.05);
    transition: 0.2s;
}

.tile img {
    position: relative;
    width: 80%;
    margin-top: 25px;
    height: auto;
    user-select: none;
    pointer-events: none;
}
.tile h1 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
