@font-face {
    font-family: GraviolaSoft-Medium;
    src: url("../fonts/GraviolaSoft-Medium.ttf");
}
@font-face {
    font-family: poppins_regular_black;
    src: url("../fonts/poppins.black.ttf");
}
@font-face {
    font-family: poppins_black;
    src: url("../fonts/poppins.regular.ttf");
}
