.page {
    position: absolute;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    background-color: #f6f5fb;
    animation: glow-in 0.3s;
}

@keyframes glow-in {
    0% {
        opacity: 0
    }
}
